@import "~bootstrap/scss/bootstrap";

@font-face {
  font-family: "Nude Fude";
  src: url("../assets/fonts/nude-fude.regular.ttf")
    format("truetype");
}

body {
  margin: 0;
  overflow: hidden;
  text-align: center;
}

.main-menu {
  width: 100%;
  height: 100vh;

  background-image: url("../assets/images/menu-background.jpg");
  background-size: 100%;
  background-repeat: no-repeat;

  .title-card {
    padding: 10px;
    max-height: 200px;
    overflow: hidden;
    font-family: "Nude Fude";
    font-size: 36px;

    .logo {
      width: 56px;
      height: 56px;
      vertical-align: bottom;
    }
  }

  .menu-items {
    padding: 10px;
    max-width: 25%;
    margin: 0 auto;
    height: calc(100% - 76px);

    .table-container {
      max-height: 80%;
      overflow: auto;

      .table {
        margin-bottom: 0;

        tbody tr {
          cursor: pointer;

          .player-list-name {
            vertical-align: middle;
          }

          .player-list-button {
            margin: 0;
          }
        }
      }
    }

    .btn {
      margin: 10px 0px;
    }

    .menu-button-full {
      width: 100%;
    }

    .menu-button-quarter {
      width: 25%;
    }

    .menu-button-half {
      width: calc(50% - 10px);
      margin-right: 10px;
    }

    .option-name {
      width: 20%;
      display: inline-block;
      height: 32px;
    }

    .slider {
      -webkit-appearance: none;
      width: calc(80% - 24px);
      margin-left: 10px;
      height: 12px;
      background: #d3d3d3;
      outline: none;
      opacity: 0.7;
      -webkit-transition: 0.2s;
      transition: opacity 0.2s;
    }

    .slider::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 25px;
      height: 25px;
      border-radius: 25px;
      background: #4caf50;
      cursor: pointer;
    }
  }

  .request-modal {
    position: absolute;
    top: 32px;
    right: 32px;
    border: 1px solid #3f3f3f;
    border-radius: 5px;

    .header {
      background-color: #3f3f3f;
      color: white;
    }
    .request-body {
      background-color: white;
      color: #3f3f3f;
      padding: 8px;

      .text {
        margin-bottom: 16px;
      }
    }
  }
}

.pause-button-container {
  position: absolute;
  top: 16px;
  left: 16px;
}

.in-game-actions {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 56px;
  text-align: left;
  padding: 10px;

  .btn {
    margin-right: 10px;
  }
}

.end-game-box {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding-top: 15%;
  z-index: 10;

  p {
    font-family: "Nude Fude";
    font-size: 82px;
  }
}

.turn-state {
  position: absolute;
  top: 10px;
  right: 10px;
  font-family: "Nude Fude";
  color: white;
  font-size: 36px;
}
